dpkg --add-architecture i386

build-essential
ccache
git
zlib1g-dev
python2.7
python2.7-dev
libncurses5:i386
libstdc++6:i386
zlib1g:i386
openjdk-7-jdk
unzip
ant

virtualenv
cython
autoconf
automake
libtool
swig
gstreamer

